# Node modules and dependencies
node_modules
**/node_modules
npm-debug.log
yarn-error.log

# Build outputs
dist
build
*.log
*.tsbuildinfo

# Environment and configuration files
# .env
.env.local
.env.*.local
Dockerfile*
docker-compose*.yml

# Source control
.git
.gitignore

# Operating system files and temporary files
.DS_Store
Thumbs.db
*.swp
*.tmp
.idea/
.vscode/

# Coverage files
coverage
*.lcov

# Test-related files
__tests__
__mocks__
*.spec.js
*.test.js
*.spec.ts
*.test.ts

# Exclude specific deployment files
.github/
deploy*.yml

# Exclude README and documentation files
README.md
*.md

# Exclude miscellaneous or IDE-specific files
.vscode/
